.card-board-container{
    display: grid;
    grid-template-columns:auto auto;
    gap: 18px;
    padding: 10px;
}

.product-info{
    display: flex;
    flex-direction: column;
  
}
.product-info span{
    justify-content: end;
}

#title-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}